#loading {
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 100;
    display:block;
    text-align: center;
    color: white;
    font-size: 48px;
}

body {
    font-family: Monospace;
    background-color: #101010;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}

#progress {
    position: absolute;
    bottom: 0%;
    width: 0%;
    height: 32px;
    background-color: greenyellow;
}

#map {
    height: 400px;
    width: 100%;
}